<div class="bg-yellow-500 text-center w-1/3 mx-auto rounded-lg my-9 p-2.5">
  <%= @job.title %>
</div>

<div class="bg-yellow-500 text-center w-1/3 mx-auto rounded-lg my-9 p-2.5">
  Company: <strong><%=  @job.company %></strong>
</div>


<div class="w-1/2 my-9 mx-auto">
  <%= @job.description.html_safe%></div>
</div>
