  <div class="bg-yellow-400 flex justify-evenly p-4 items-center border-yellow-200">
    <div>
        <%= image_tag "logo_no_background.png", alt: "Me Work", width: 150 %>
    </div>

    <div class="container w-1/12 bg-yellow-100 rounded-lg p-3">
      Search bar
    </div>

    <div class="mr-10 w-10">
      <%= image_tag "notification.png", alt: "Me Work", width: 150 %>
    </div>
</div>
