<!--NEW NAV BAR
  This example requires Tailwind CSS v2.0+

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<nav class="bg-indigo-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0">
          <div class="flex justify-start">
          <%= link_to root_path do %>
            <%= image_tag "logo_no_background.png", alt: "Me Work", width: 100 %>
          <% end %>
          </div>
        </div>
        <div class="hidden lg:block lg:ml-6">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="" class="text-white hover:bg-yellow-500 hover:text-white px-3 py-2 rounded-md text-medium font-medium">About</a>
            <a href="" class="text-white hover:bg-yellow-500 hover:text-white px-3 py-2 rounded-md text-medium font-medium">Blog</a>
            <a href="" class="text-white hover:bg-yellow-500 hover:text-white px-3 py-2 rounded-md text-medium font-medium">FAQ</a>
            <a href="" class="text-white hover:bg-yellow-500 hover:text-white px-3 py-2 rounded-md text-medium font-medium">Contact</a>
          </div>
        </div>
      </div>
      <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
        <div class="max-w-lg w-full lg:max-w-xs">
          <label for="search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <!-- Heroicon name: solid/search -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
              </svg>
            </div>
            <input id="search" name="search" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-gray-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 sm:text-sm" placeholder="Search" type="search">
          </div>
        </div>
      </div>


<!-- This example requires Tailwind CSS v2.0+ -->
<header class="bg-indigo-800">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none">
      <div class="flex items-center">
        <%# <a href="#">
          <span class="sr-only">Workflow</span>
          <img class="h-10 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=white" alt="">
        </a> %>
        <%= link_to root_path do %>
            <%= image_tag "logo_no_background.png", alt: "Me Work", width: 100 %>
        <% end %>
        <div class="hidden ml-10 space-x-8 lg:block">
          <a href="#" class="text-base font-medium text-white hover:text-indigo-50" key="Solutions">
            About
          </a>

          <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Pricing">
            Blog
          </a>

          <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Docs">
            FAQ
          </a>

          <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Company">
            Contact

          <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Company">
            Join Us
          </a>
        </div>
      </div>
      <div class="ml-10 space-x-4">
        <a href="#" class="inline-block bg-indigo-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75">Log in</a>
        <a href="#" class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-yellow-500 hover:bg-yellow-600">Sign up</a>
      </div>
    </div>
    <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
      <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Solutions">
        About
      </a>

      <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Pricing">
        Blog
      </a>

      <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Docs">
        FAQ
      </a>

      <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Company">
        Contact

      <a href="#" class="text-base font-medium text-white hover:text-yellow-500" key="Company">
        Join Us

      </a>
    </div>
  </nav>
</header>
